<div class="container">
  <div class="row">
    <div class="col-12 py-4">
      <h1 class="text-center mb-3">Officer List</h1>
      <div class="d-grid d-md-flex justify-content-md-end mb-3 mx-3">
        <button
          class="btn btn-success"
          type="button"
          title="เพิ่มข้อมูลOfficerใหม่"
          (click)="pageAddOfficer('officer')"
        >
          เพิ่มข้อมูลOfficerใหม่
        </button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="text-center align-middle">
            <th>Officer ID</th>
            <th>Officer Name</th>
            <th>Officer Age</th>
            <th>แก้ไขข้อมูล</th>
            <th>Home ที่เกี่ยวข้อง</th>
            <th>ลบข้อมูล</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="text-center align-middle"
            *ngFor="let officer of dataofficers"
          >
            <td>{{ officer.officerId }}</td>
            <td>{{ officer.officerName }}</td>
            <td>{{ officer.officerAge }}</td>
            <td class="text-center">
              <div class="btn-group">
                <a
                  class="btn btn-warning"
                  (click)="pageEditOfficer(officer.officerId, 'editofficer')"
                >
                  <i
                    class="fa fa-pencil"
                    aria-hidden="true"
                    title="แก้ไขข้อมูล"
                  ></i>
                </a>
              </div>
            </td>
            <td class="text-center">
              <div class="btn-group">
                <a
                  class="btn btn-info"
                  (click)="viewHomeOfficer(officer.officerId, 'viewhome')"
                >
                  <i
                    class="fa fa-search-plus"
                    aria-hidden="true"
                    title="ดูHome ที่เกี่ยวข้อง"
                  ></i>
                </a>
              </div>
            </td>
            <td class="text-center">
              <div class="btn-group">
                <a
                  class="btn btn-danger"
                  (click)="deleteOfficer(officer.officerId)"
                >
                  <i
                    class="fa fa-trash"
                    aria-hidden="true"
                    title="ลบข้อมูล"
                  ></i>
                </a>
              </div>
            </td>
          </tr>
          <tr *ngIf="dataofficers.length === 0">
            <td colspan="4" class="text-center">ไม่พบข้อมูล</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
