<div class="container">
  <div class="row" *ngIf="mode === 'editofficer'">
    <div class="col-12">
      <h1 class="text-center mt-4">แก้ไขข้อมูล Officer</h1>

      <form
        [formGroup]="Form"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        class="p-5"
      >
        <div class="mb-3">
          <label for="officerId" class="form-label">Officer ID</label>
          <input
            type="text"
            class="form-control"
            formControlName="officerId"
            id="officerId"
            placeholder="Enter Officer ID"
          />
        </div>
        <div class="mb-3">
          <label for="officerName" class="form-label">Officer Name</label>
          <input
            type="text"
            class="form-control"
            id="officerName"
            formControlName="officerName"
            placeholder="Enter Officer Name"
          />
          <div
            *ngIf="this.Form.get('officerName')?.invalid"
            class="text-danger"
          >
            *กรุณากรอกชื่อ
          </div>
        </div>
        <div class="mb-3">
          <label for="officerAge" class="form-label">Officer Age</label>
          <input
            type="number"
            class="form-control"
            id="officerAge"
            formControlName="officerAge"
            placeholder="Enter Officer Age"
          />
          <div *ngIf="this.Form.get('officerAge')?.invalid" class="text-danger">
            *กรุณากรอกอายุ
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="mode === 'edithome'">
    <div class="col-12">
      <h1 class="text-center mt-4">แก้ไขข้อมูล Home</h1>

      <form
        [formGroup]="Form"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        class="p-5"
      >
        <div class="mb-3">
          <label for="officerId" class="form-label">Home Id</label>
          <input
            type="text"
            class="form-control"
            id="homeId"
            placeholder="Enter Home ID"
            formControlName="homeId"
          />
        </div>
        <div class="mb-3">
          <label for="officerId" class="form-label">Home Name</label>
          <input
            type="text"
            class="form-control"
            id="homeName"
            placeholder="Enter Home ID"
            formControlName="homeName"
          />
          <div *ngIf="this.Form.get('homeName')?.invalid" class="text-danger">
            กรุณากรอกชื่อ
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
